:root {
  --color: #87d551;
}

nav a {
  border-radius: 0.5rem;
  padding: 0.25rem 0.8rem;
}

nav a:hover {
  background: white;
  opacity: 0.7;
}

nav a.active {
  background: white;
}

/* From Uiverse.io by cssbuttons-io */
button {
  font-family: inherit;
  display: inline-block;
  padding: 0.3rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.5s;
  z-index: 1;
  border-radius: 50%;
  font-weight: 500;
  color: black;
  background-color: white;
}

button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

button:hover {
  color: #fff;
}

button:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

button:hover:before {
  top: -30px;
  left: -30px;
}

button:active:before {
  background: #19a30c;
  transition: background 0s;
}

input {
  color: var(--primary-color);
}
select {
  color: var(--primary-color);
}

.backgrounds {
  background-image: url("src/assets/temp.jpg");
  background-size: cover;
  background-position: "bottom";
}

