:root {
  --primary-color: #87d551;
}

nav a {
  border-radius: 0.5rem;
  padding: 0.25rem 0.8rem;
}

nav a:hover {
  color: white;
  background: #87d551;
}

nav a.active {
  background: white;
}

button {
  color: white;
  background: var(--primary-color);
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 0.25rem 0.8rem;
}

input {
  color: var(--primary-color);
}
select {
  color: var(--primary-color);
}

.background {
  background-image: url("src/components/assets/temp.jpg");
  background-size: cover;
  background-position: "bottom";
}
